html {
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #16191b;
}

:root {
    --nice-padding: 6rem;
    --roundness: 0.75rem;
    --accent1: #02db02;
    --accent2: #05b305;
    --accent2_transp: #05b30555;
    --background1: #212529;
    --background2: #16191b;


    color-scheme: dark;
}

span {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    font-family:'Space Grotesk', sans-serif;
    background-color: var(--background1);
    color: white;
    margin:0px;
}

.headline {
    margin-top: 2rem;
    color: #fff;
    font-size:3rem;
    text-align: center;
    font-weight: 600;
}

.desktop_navbar {
    position:fixed;
    display: flex;
    height: 4rem;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    background-color: #00000022;
    backdrop-filter: blur(15px);
    z-index: 5;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.desktop_navbar_logo_img {
    width: 5rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.desktop_navbar_link {
    font-size: 1.2rem;
    padding: .8rem;
    transition: all .5s;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.desktop_navbar_link:hover {
    color: var(--accent1);
}

.desktop_navbar_link2 {
    padding:.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.desktop_navbar_link2_div {
    font-size: 1.2rem;
    padding: .6rem;
    transition: all .5s;
    margin-left: auto;
    margin-right: 2rem;
    font-weight: 700;
    border-radius: var(--roundness);
    text-align: center;
}

.desktop_navbar_link2_div:hover {
    color: var(--accent1);
}

.mobile_navbar {
    display: none;
    overflow: hidden;
    background-color: #00000022;
    backdrop-filter: blur(15px);
    position: fixed;
    width: 100%;
    z-index: 5;
    flex-direction: row;
    min-height: 53px;
}

.mobile_navbar_logo_img {
    position: absolute;
    display: block;
    height: 42px;
    padding-left: .5rem;
    top: 0;
    left: 0;
    padding-top: 3.5px;
}

.mobile_navbar #mobile_navbar_links {
    display: none;
    margin-top: 53px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #00000022;
}

.mobile_navbar_link {
    padding:.5rem;
}

.mobile_navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.mobile_navbar .icon {
    background-color: #00000022;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
}

.mobile_navbar_logo_img_a {
    display: block;
    background-color: #00000022;
} 

.mainflex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.main2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding-bottom: 1rem;
    background-color: var(--background2);
    width: 100%;
}



.main2_features_div {
    padding-top: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.main2_feature {
    display: flex;
    background-color: var(--background1);
    height: 24rem;
    width: 18rem;
    margin: 1rem;
    border-radius: var(--roundness);
    transition: all .5s;
    flex-direction: column;
}

.main2_feature:hover {
    background-color: #00000099;
    transform: scale(1.05)
}

@media (max-width: 1599px) {
    .main2_features_div {
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
@media (max-width: 1279px) {
    .main2_features_div {
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }


.main2_feature_img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: var(--roundness);
}

.main2_feature_headline {
    margin-top: 1rem;
    text-align: center;
    font-size:1.5rem;
    font-weight: 700;
    margin-top: auto;
}

.main2_feature_text {
    margin:1rem;
    text-align: center;
    font-size:1.2rem;
    margin-bottom: auto;
}

.more-info {
    text-align: center; 
    font-size: 1rem;
    background-color: var(--background2);
    color: white;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: -10px;
}

.copyright {
    color: #ffffff99;
    text-decoration: none;
}

.copyright_div {
    display: flex;
    justify-content: center;
    padding: 16px;
    width:auto;
    background-color: #16191b;
}

@media only screen and (max-width: 600px) {
    .desktop_navbar{
        display:none;
    }
    .mobile_navbar{
        display:flex;
    }
    .headline {
        font-size:1.9rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .main1_logo {
        max-width: 16rem;
    }
    .main1_description {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .main1_ipcopier {
        display: none;
    }
    .main5_admins_img {
        align-self: center;
        padding-top: 1rem;
    }
    .main5_admins_div{
        flex-direction: column;
        min-height: 0;
    }
    .main5_admins_description_div {
        max-width: 100%;
        padding: 2rem;
    }
    .main4_dc_div {
        flex-direction: column;
    }
    .main4_dc_widget {
        height: 20rem;
        width: 100%;
    }
    .main3_join_div {
        min-width: 20rem;
        min-height: 9rem;
    }
    .main3_join_content_div {
        padding:1rem;
    }
    .main5_admins_dev_type1 {
        padding-right: 0;
    }
    .main5_admins_dev_type2 {
        padding-left: 0;
    }
}
@media only screen and (max-width: 360px) {
    .main3_join_categories {
        font-size:1rem;
    }
    .main3_join_values {
        font-size:1rem;
    }
    .main3_join_div {
        min-width: 10rem;
        padding: .5rem;
    }
    .main3_join_div_div {
        margin: .25rem;
    }
}